<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <title>服務條款｜NewR-Code</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='manual.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}">
</head>

<body>
    <div class="headnav">
        <a href="home.html" class="icon_Back">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48" height="48">
                <path
                    d="M10.8284 12.0007L15.7782 16.9504L14.364 18.3646L8 12.0007L14.364 5.63672L15.7782 7.05093L10.8284 12.0007Z">
                </path>
            </svg>
        </a>
        <h1>NewRCode</h1>
        <h3>服務條款</h3>
    </div>
    <div class="bodynav">
        <table id="info">
            <tr>
                <td>
                    這些使用條款制定了本網站和服務的使用條款。您使用本服務即視為您已同意這些條款。本條款界定了使用者（以下簡稱「客戶」或「用戶」）與我們團隊之間的權利與義務。
                </td>
            </tr>
            <tr>
                <td>
                    <ol>
                        <li>用戶義務</li>
                        <p>禁止顧客進行以下行為：<br>
                            侵害他人著作權、商標權、隱私權等權利的行為<br>
                            未經授權的存取、資料篡改等與安全相關的行為<br>
                            違反法律、法規的行為
                        </p>

                        <li>服務的變更和終止</li>
                        <p>本服務可能會變更服務內容或終止服務，恕不另行通知。</p>

                        <li>免責聲明</li>
                        <p>儘管我們會盡力提供服務，但可能會出現暫時的服務中斷或資訊錯誤。對於由此造成的任何損壞，我們的服務人員不承擔任何責任。</p>

                        <li>條款的變更</li>
                        <p>本服務保留根據需要更改這些條款的權利。如有變更，我們將在本網站通知您。</p>

                        <li>圖標和圖像的使用</li>
                        <p>
                        <ol>
                            <li>建立後，請務必自行檢查讀取和存取情況。各公司的標誌圖像的使用均為非官方的，因此請避免在嚴重涉及權利的情況下使用。</li>
                            <li>使用者不得將本服務提供的圖示用於商業目的或重新分發給第三方。</li>
                        </ol>
                        </p>

                        <li>有關圖像和圖標的免責聲明</li>
                        <p>
                        <ol>
                            <li>如果使用者使用圖示或圖像，本服務不承擔因使用這些資料而可能產生的任何損害或法律責任。</li>
                            <li>您有責任遵守有關使用圖示和圖像的所有法律要求和限制。使用者應對因使用本服務而造成的任何損害負責。</li>
                        </ol>
                        </p>

                        <li>使用者責任</li>
                        <p>
                        <ol>
                            <li>使用者有責任在使用圖標和圖像時注意不侵犯版權、商標權和其他智慧財產權。</li>
                            <li>使用者有責任採取足夠的謹慎措施，確保使用的圖標和圖像不會給他人帶來麻煩或產生法律責任。</li>
                        </ol>
                        </p>

                        <li>產生二維碼與刪除數據</li>
                        <p>
                        <ol>
                            <li>當使用者使用此服務產生二維碼時，產生的二維碼、使用的網址和附加影像將在一段時間後從該伺服器中刪除。</li>
                            <li>服務創建者和伺服器管理員有權在二維碼產生之日起的合理時間內刪除本服務中產生的資料（二維碼、網址、映像）。</li>
                        </ol>
                        </p>

                        <li>外部連結</li>
                        <p>對於本服務使用者所使用的外部連結上發生的事件，本服務不承擔任何責任。</p>
                    </ol>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>