<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Terms and Conditions｜NewR-Code</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='manual.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}">
</head>

<body>
    <div class="headnav">
        <a href="home.html" class="icon_Back">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48" height="48">
                <path
                    d="M10.8284 12.0007L15.7782 16.9504L14.364 18.3646L8 12.0007L14.364 5.63672L15.7782 7.05093L10.8284 12.0007Z">
                </path>
            </svg>
        </a>
        <h1>NewRCode</h1>
        <h3>Terms and Conditions</h3>
    </div>
    <div class="bodynav">
        <table id="info">
            <tr>
                <td>
                    Your use of the service is subject to the terms. These Terms and Conditions set out the rights and
                    obligations between the user (together, 'you') and us, the development group.
                </td>
            </tr>
            <tr>
                <td>
                    <ol>
                        <li>Obligations of the user</li>
                        <p>User are prohibited from the following acts,<br>
                            Acts that infringe the rights of others, such as copyright, trademark rights and privacy
                            rights<br>
                            Acts relating to security, such as unauthorized access or falsification of data<br>
                            Acts in breach of laws and regulations
                        </p>

                        <li>Changes and termination of the service</li>
                        <p>There may be changes of content of the service or termination of the service without prior
                            notice.</p>

                        <li>Disclaimer</li>
                        <p>The development group will do its best to provide the service, but there is a possibility
                            that the service may be temporarily interrupted or that information may be incorrect. The
                            service accepts no liability for any damage resulting from this.
                        </p>

                        <li>Changes to these Terms and Conditions</li>
                        <p>The service reserves the right to change these Terms and Conditions as necessary. Any changes
                            will be notified on the website.</p>

                        <li>Use of icons and images</li>
                        <p>
                        <ol>
                            <li>After creation, be sure to check the reading and access by yourself. The use of the logo
                                images of the companies is unofficial, so please refrain from using them for projects
                                with serious rights issues.</li>
                            <li>Users must not use the icons provided by the service for commercial purposes or for
                                redistribution to third parties.</li>
                        </ol>
                        </p>

                        <li>Exemption from liability for images and icons</li>
                        <p>
                        <ol>
                            <li>If the User uses icons and images, the Service shall not be liable for any damage or
                                liability arising in connection with the use of these materials.</li>
                            <li>The user is responsible for complying with all legal requirements and restrictions
                                regarding the use of icons and images. The user is responsible for any damage resulting
                                from the use of the service.</li>
                        </ol>
                        </p>

                        <li>User's liability</li>
                        <p>
                        <ol>
                            <li>The user is responsible for taking care not to infringe copyright, trademark and other
                                intellectual property rights when using the icons and images.
                            </li>
                            <li>The user is responsible for taking sufficient care to ensure that the use of icons and
                                images does not cause inconvenience or liability to others.</li>
                        </ol>
                        </p>

                        <li>Generation of QR codes and deletion of data</li>
                        <p>
                        <ol>
                            <li>If the User uses the Service to generate a QR Code, the generated QR Code, the URL used
                                and the attached image will be deleted from the server after a certain period of time.
                            </li>
                            <li>The creator of the service and the server administrator have the right to delete the
                                data generated by the service (QR code, URL and image) within a reasonable period from
                                the moment the QR code is generated.
                            </li>
                        </ol>
                        </p>

                        <li>External links</li>
                        <p>The Service is not liable for any events occurring at external links used by the user to the
                            Service.</p>
                    </ol>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>