<!DOCTYPE html>
<html lang="zh-Hans">

<head>
    <meta charset="UTF-8">
    <title>服务条款｜NewR-Code</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='manual.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}">
</head>

<body>
    <div class="headnav">
        <a href="home.html" class="icon_Back">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48" height="48">
                <path
                    d="M10.8284 12.0007L15.7782 16.9504L14.364 18.3646L8 12.0007L14.364 5.63672L15.7782 7.05093L10.8284 12.0007Z">
                </path>
            </svg>
        </a>
        <h1>NewRCode</h1>
        <h3>服务条款</h3>
    </div>
    <div class="bodynav">
        <table id="info">
            <tr>
                <th>
                    服务条款
                </th>
            </tr>
            <tr>
                <td>
                    这些使用条款制定了本网站和服务的使用条款。您使用本服务即视为您已同意这些条款。本条款界定了使用者（以下简称“客户”或“用户”）与我们团队之间的权利和义务。
                </td>
            </tr>
            <tr>
                <td>
                    <ol>
                        <li>用户义务</li>
                        <p>禁止顾客进行以下行为：<br>
                            侵犯他人著作权、商标权、隐私权等权利的行为<br>
                            未经授权的访问、数据篡改等与安全相关的行为<br>
                            违反法律、法规的行为
                        </p>

                        <li>服务的变更和终止</li>
                        <p>本服务可能会变更服务内容或终止服务，恕不另行通知。</p>

                        <li>免责声明</li>
                        <p>尽管我们会尽力提供服务，但可能会出现暂时的服务中断或信息错误。对于由此造成的任何损坏，我们的服务人员不承担任何责任。</p>

                        <li>条款的变更</li>
                        <p>本服务保留根据需要更改这些条款的权利。如有变更，我们将在本网站通知您。</p>

                        <li>图标和图像的使用</li>
                        <p>
                        <ol>
                            <li>创建后，请务必自行检查读取和访问情况。各公司的标志图像的使用均为非官方的，因此请避免在严重涉及权利的情况下使用。</li>
                            <li>用户不得将本服务提供的图标用于商业目的或将其重新分发给第三方。</li>
                        </ol>
                        </p>

                        <li>有关图像和图标的免责声明</li>
                        <p>
                        <ol>
                            <li>如如果用户使用图标或图像，本服务不承担因使用这些材料而可能产生的任何损害或法律责任。</li>
                            <li>您有责任遵守有关使用图标和图像的所有法律要求和限制。用户应对因使用本服务而造成的任何损害负责。</li>
                        </ol>
                        </p>

                        <li>用户责任</li>
                        <p>
                        <ol>
                            <li>用户有责任在使用图标和图像时注意不侵犯版权、商标权和其他知识产权。</li>
                            <li>用户有责任采取足够的谨慎措施，确保使用的图标和图像不会给他人带来麻烦或产生法律责任。</li>
                        </ol>
                        </p>

                        <li>生成二维码与删除数据</li>
                        <p>
                        <ol>
                            <li>当用户使用此服务生成二维码时，生成的二维码、使用的网址和附加图像将在一段时间后从该服务器中删除。</li>
                            <li>服务创建者和服务器管理员有权在二维码生成之日起的合理时间内删除本服务中生成的数据（二维码、网址、图像）。</li>
                        </ol>
                        </p>

                        <li>外部链接</li>
                        <p>对于本服务用户使用的外部链接上发生的事件，本服务不承担任何责任。</p>
                    </ol>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>