@charset "utf-8";

* {}


body {
    background-color: #878787;
    text-align: center;
}

.header-logo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 300px;
    height: 75px;
    background: url(logo_IMG.png) no-repeat;
    background-size: 300px 75px;
    text-indent: -9999px;
}

h2 {
    color: #fff;
    margin-top: 0;
}

h3 {
    color: #fff;
    margin-top: 30px;
}

form p {
    margin-top: 0;
    color: #fff;
}

.input-detail {
    position: relative;
    margin-bottom: 20px;
}

.input-detail input {
    font-size: 20px;
    box-sizing: border-box;
    width: 300px;
    padding: 0.3em;
    transition: 0.5s;
    letter-spacing: 1px;
    color: #fff;
    border: none;
    border-bottom: 3px solid #000;
    background: transparent;
}

.input-detail input[type='text']::placeholder {
    color: #d7d7d7;
}

.input-detail input[type='email'] {
    box-sizing: border-box;
    width: 300px;
    padding: 0.3em;
    transition: 0.5s;
    letter-spacing: 1px;
    color: #fff;
    border: none;
    border-bottom: 3px solid #000;
    background: transparent;
}

.input-detail input[type='email']::placeholder {
    color: #d7d7d7;
}

.input-detail input[type='password'] {
    box-sizing: border-box;
    width: 300px;
    padding: 0.3em;
    transition: 0.5s;
    letter-spacing: 1px;
    color: #fff;
    border: none;
    border-bottom: 3px solid #000;
    background: transparent;
}

.input-detail input[type='password']::placeholder {
    color: #d7d7d7;
}

.ef input[type='text']:focus {
    border-bottom: 3px solid #ffd70d;
    outline: none;
}

.ef input[type='password']:focus {
    border-bottom: 3px solid #ffd70d;
    outline: none;
}

.ef input[type='email']:focus {
    border-bottom: 3px solid #ffd70d;
    outline: none;
}

button {
    font-weight: bold;
    width: 200px;
    height: 50px;
    font-size: 30px;
    border: none;
    color: #000;
    background-color: #d7d7d7;
    transition: 0.3s;
}

button:hover {
    color: #878787;
    cursor: pointer;
}

p {
    color: #fff;
}

.confirmcb {
    display: flex;
    flex-wrap: wrap;
    gap: .5em 2em;
    border: none;
    color: #fff;
}

.confirmcb label {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 0 .5em;
    position: relative;
    cursor: pointer;
    color: #fff;
}

.confirmcb label::before {
    width: 20px;
    height: 20px;
    border: 3px solid #000;
    content: '';
}

.confirmcb label:has(:checked)::after {
    position: absolute;
    top: 2px;
    left: 8px;
    transform: rotate(45deg);
    width: 7px;
    height: 14px;
    border: solid #ffd70d;
    border-width: 0 3px 3px 0;
    content: '';
}

.confirmcb input {
    display: none;
}