@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background: #878787;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

.header-logo {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 20px;
    width: 200px;
    height: 55px;
    background: url(logo_IMG.png) no-repeat;
    background-size: 200px 50px;
    text-indent: -9999px;
}

.icon_Back {
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.icon_L {
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    background-color: transparent;
    border: none;
}

.icon_R {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 10px;
}

.icon_Back:hover {
    transform: scale(1.2);
}

.icon_L:hover {
    transform: scale(1.2);
}

.icon_R:hover {
    transform: scale(1.2);
}

.topnav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 75px;
    background-color: #B4B4B4;
    width: 80px;
    height: 100%;
    z-index: 998;
}

.sidebar ul button {
    padding: 15px;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 0;
    border: none;
    border-bottom: 1px solid #000;
    text-align: center;
    transition: 0.4s;
    background-color: #B4B4B4;
}

.sidenav {
    position: fixed;
    display: none;
    background-color: #d7d7d7;
    top: 75px;
    left: 80px;
    width: 250px;
    height: 100%;
    padding-top: 5px;
    text-align: left;
    z-index: 997;
}

#canvas {
    padding-left: 0;
    padding-right: 0;
    margin: auto;
    display: block;
}

.canvas-container {
    top: 75px;
    left: 80px;
    margin: 50px auto;
}

.shape_btn {
    background-color: transparent;
    border: none;
}

.textDesign {
    padding: 5px;
}

form {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 250px;
    box-shadow: 0 0 2px #3e3e3e;
    padding: 5px;
    text-align: center;
}

.upload-area {
    width: 100%;
    height: 240px;
    position: relative;
    border: 1px dotted rgba(0, 0, 0, .4);
    background-color: aqua;
}

.upload-area p {
    width: 100%;
    position: absolute;
    top: 40%;
}

#input-files {
    top: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

#fileName {
    display: none;
    border: 1px solid #ccc; /* 枠線を追加 */
    padding: 20px; /* 内側の余白を追加 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 996;
}